body{ 
  font: 14px sans-serif;
}

nav
{
  background-color: #b3ff99;
  height: 70px;
}

nav .welcome-msg
{
  display: inline-block;
  font-size: large;
  margin-top: 1%;
  margin-left: 1%;
  padding: 0.5% 1% 0.5% 1%;
  /* float: left; */
  width: 15%;
}

nav a
{
  color: #000000;
  /* background-color: #ffffff; */
  text-decoration: none;
  font-size: large;
  margin-top: 1%;
  margin-right: 1%;
  padding: 0.5% 1% 0.5% 1%;
  float: right;
  width: 7%;
  text-align: center;
  /* border: 2px solid #000; */
  /* vertical-align: bottom; */
}

nav a:hover
{
  background-color: #000;
  color: #fff;
  border-radius: 3px;
  /* border: 2px solid black; */
  text-decoration: none;
}

/* h2{
  background-color: rgb(139, 223, 195);
  text-align: center;
} */

.page-heading
{
  margin-top: 2%;
  text-align: center;
}

.form{
  /* width: 50%;  */
  /* padding: 20px; */
  margin: auto;
  margin-top: 3%;
  /* vertical-align: center; */
  /* background-color: rgb(114, 116, 110); */
  /* text-align: center; */
  /* display: flex;
  justify-content: center;
  align-items: center; */
}

.form-control
{
  width: 25%;
  margin: auto;
}

#form-button
{
  padding: 10px;
  width: 10%;
}

.datalist-dropdown
{
  border: 2px solid #000;
  padding: 2%;
  border-radius: 3px;
}

.container{
text-align: center;
border: 1px black solid;
/* margin: 3% 15% 2% 15%; */
padding: 0%;
background-color: #fff;
font-size: 1.1em;
border-collapse: collapse;
}

table
{
  align-self: center;
  border: 1px black solid;
  margin: 3% 15% 2% 15%;
  background-color: #fff;
  font-size: 1.1em;
  border-collapse: collapse;
}

tr
{
  /* border-bottom: 1px black solid; */
  background-color: #fff;
}

tr:hover
{
  background-color: #d9ffcc;
}

th
{
  background-color: #000;
  color: #fff;
}

th, td
{
  /* border: 1px black solid; */
  width: 2%;
  text-align: center;
  padding: 1% 2% 1% 2%;
}

tr :nth-child(2)
{
  text-align: left;
  width: 5%;
}

td a
{
  text-decoration: none;
  color: #000;
}

td a:hover
{
  color: #000;
  text-decoration: underline;
}

/* .table-heading{
background-color: #000;
color: #fff;
width: 100%;
} */

.table-heading:hover
{
  background-color: #000;
}

tr:hover{
background-color: #d9ffcc;
}

th:nth-child(2), td:nth-child(2)
{
text-align: left;
margin: auto;
}

#myModal
{
  z-index: 1;
  background-color: rgba(71, 78, 93, 0.7);
}

#myModal h1, p
{
  text-align: center;
}

.modal-content
{
  width: 80%;
  margin: 10% 10% auto 10%;
  padding: 2%;
}

.close
{
  margin-left: 100%;
  margin-top: -3%;
  font-size: xx-large;
  cursor: pointer;
  background-color: #dddddd;
}

.close:hover
{
  background-color: #aaaaaa;
}

#modal-button
{
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.modal-content button
{
  cursor: pointer;
  width: 100%;
}

#modal-button-cancel, #modal-button-confirm
{
  float: left;
  width: 50%;
  border-radius: 3px;
  background-color: #dddddd;
}

#modal-button-cancel
{
  margin-right: 1%;
  border: 2px solid #dddddd;
}

#modal-button-confirm
{
  background-color: #b3ff99;
  border: 2px solid #000;
}

#modal-button-cancel:hover
{
  background-color: #aaaaaa;
  color: #000;
  border: 2px solid black;
}

#modal-button-confirm:hover
{
  background-color: #000000;
  color: #fff;
  border: 2px solid black;
}

.checkbox
{
  width: 25px;
  height: 25px;
  cursor: pointer;
}

.primary-button
{
  display: block;
  margin: 2% auto 5% auto;
  font-size: 20px;
  border-radius: 3px;
  background-color: rgb(245, 126, 82);
  border: 2px solid black;
}

#myBtn
{
  margin: 2% auto 5% auto;
  width: 15%;
  padding: 0.5%;
}

.primary-button:hover
{
  background-color: #000;
  color: #fff;
  border-radius: 3px;
}

.dashboard-btn
{
  display: block;
  margin: 5% auto;
  width: 15%;
  padding: 0.5%;
  font-size: 20px;
  border-radius: 3px;
  background-color: rgb(245, 126, 82);
  color: #000000;
  text-decoration: none;
  border: 2px solid black;
  text-align: center;
}

#dashboard-btn-1
{
  float: left;
  margin-left: 30%;
}

#dashboard-btn-2
{
  float: right;
  margin-right: 30%;
}

.dashboard-btn:hover
{
  background-color: #000;
  color: #fff;
}

footer {
  background-color: #b3ff99;
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 5%;
  text-align: center;
  padding-top: 0.75%;
}