{% extends 'base.html' %}
{% block title %} Register {% endblock %}
    {% block content %}
		<section style="text-align: center; margin-top: 2%;">
    	<h2>{{ request.user.category }}</h2>
		{% if request.user.category == "Manufacturer" %}
			<p>Manufactured Laptops</p>
		{% elif request.user.category == "Recycler" %}
    		<p>Received from the Manufacturer / Refurbisher</p>
		{% elif request.user.category == "Refurbisher" %}
			<p>Received from the Manufacturer</p>
		{% endif %}
    </section>
	
		<section>
      <table>
    	  <tr>
    	    <th>Sr. No.</th>
    	    <th>Laptops</th>
    	    <th> <input type="checkbox" class="checkbox">
    	      <span class="checkmark"></span></th>
    	  </tr>
    	  <tr>
    	    <td>1</td>
    	    <td><a href="#">0003-0304-0003-0001-0106 0000-0001-0001</a></td>
    	    <td><input type="checkbox" class="checkbox">
    	      <span class="checkmark"></span></td>
    	  </tr>
    	  <tr>
    	    <td>2</td>
    	    <td><a href="#">0104-0201-0004-0003-0600-0302-0002-0002</a></td>
    	    <td><input type="checkbox" class="checkbox">
    	      <span class="checkmark"></span></td>
    	  </tr>
    	  <tr>
    	    <td>3</td>
    	    <td><a href="#">____________________________________________</a></td>
    	    <td><input type="checkbox" class="checkbox">
    	      <span class="checkmark"></span></td>
    	  </tr>
        <tr>
    	    <td>4</td>
    	    <td><a href="#">____________________________________________</a></td>
    	    <td><input type="checkbox" class="checkbox">
    	      <span class="checkmark"></span></td>
    	  </tr>
        <tr>
    	    <td>5</td>
    	    <td><a href="#">____________________________________________</a></td>
    	    <td><input type="checkbox" class="checkbox">
    	      <span class="checkmark"></span></td>
    	  </tr>
        <tr>
    	    <td>6</td>
    	    <td><a href="#">____________________________________________</a></td>
    	    <td><input type="checkbox" class="checkbox">
    	      <span class="checkmark"></span></td>
    	  </tr>
        <tr>
    	    <td>7</td>
    	    <td><a href="#">____________________________________________</a></td>
    	    <td><input type="checkbox" class="checkbox">
    	      <span class="checkmark"></span></td>
    	  </tr>
        <tr>
    	    <td>8</td>
    	    <td><a href="#">____________________________________________</a></td>
    	    <td><input type="checkbox" class="checkbox">
    	      <span class="checkmark"></span></td>
    	  </tr>
        <tr>
    	    <td>9</td>
    	    <td><a href="#">____________________________________________</a></td>
    	    <td><input type="checkbox" class="checkbox">
    	      <span class="checkmark"></span></td>
    	  </tr>
        <tr>
    	    <td>10</td>
    	    <td><a href="#">____________________________________________</a></td>
    	    <td><input type="checkbox" class="checkbox">
    	      <span class="checkmark"></span></td>
    	  </tr>
    	</table>
    </section>


  <!-- <button id="myBtn" class="button"><span>Send to Recycler </span></button> -->
	<button id="myBtn" class="primary-button"><span>Mark as Recycled </span></button>

  	<!-- The Modal -->
  	<div id="myModal" class="modal">
	
      <!-- Modal content -->
      <div class="modal-content">
        <span class="close">&times;</span>
        <h1>Successfully marked as recycled</h1>
        <!-- <p>Do you want to send these laptops to the Recycler?</p>
        <div id="modal-button">
					<button id="modal-button-cancel">Cancel</button>
        	<button id="modal-button-confirm">Send to Recycler</button>
				</div> -->
      </div>
	
    </div>
    {% endblock %}