{% extends 'base.html' %}
{% block title %} Register {% endblock %}
    {% block content %}
		<section style="text-align: center; margin-top: 2%;">
    	<h2>{{ request.user.category }}</h2>
		{% if request.user.category == "Manufacturer" %}
			<p>Manufactured Laptops</p>
		{% elif request.user.category == "Recycler" %}
    		<p>Received from the Manufacturer / Refurbisher</p>
		{% elif request.user.category == "Refurbisher" %}
			<p>Received from the Manufacturer</p>
		{% endif %}
    	</section>
	
		<section>
      		<table>
    			<tr>
    			  	<th>Sr. No.</th>
    			  	<th>Laptops</th>
    			  	<th> <input type="checkbox" class="checkbox">
    			  	  <span class="checkmark"></span></th>
    			</tr>
				{% for uid in logs %}
					{% if uid.username == request.user.username %}
						<tr>
    					  <td>{{ forloop.counter0 }}</td>
    					  <td><a href="ewt/replace_components.html">{{ uid.uid_list }}</a></td>
    					  <td><input type="checkbox" class="checkbox">
    					    <span class="checkmark"></span></td>
    					</tr>
					{% endif %}
				{% endfor %}
    		</table>
    	</section>
		<div class="form-group">
			<!-- <label for="category">Category</label> -->
			<!-- <input list="category" name="category" placeholder="Select a Category" class="form-control"> -->
				<select required class="form-control" id="menu" form="registration" name="menu">
					<option value="" id="">Category</option>
					{% if request.user.category == "Manufacturer" %}
						<option value="Recycler" id="RC">Recycler</option>
						<option value="Refurbisher" id="RF">Refurbisher</option>
					{% elif request.user.category == "Recycler" %}
    					
					{% elif request.user.category == "Refurbisher" %}
						<option value="Recycler" id="RC">Recycler</option>
					{% endif %}

				</select>                
		</div>
		<div class="form-group">
			<!-- <label for="category">Category</label> -->
			<!-- <input list="category" name="category" placeholder="Select a Category" class="form-control"> -->
				<select required class="form-control" id="entrees" form="registration" name="entrees">
					<option value="" id="">Location</option>
					{% for loc in refrec %}

						<option>{{ loc.location }}</option>

					{% endfor %}
				</select>                
		</div>



  <!-- <button id="myBtn" class="button"><span>Send to Recycler </span></button> -->
  	{% if request.user.category == "Manufacturer" %}
		<button id="myBtn" class="primary-button" style="margin-bottom: -1%;"><span>Send to Refurbisher</span></button>
		<button id="myBtn" class="primary-button"><span>Send to Recycler</span></button>
	{% elif request.user.category == "Recycler" %}
		<button id="myBtn" class="primary-button"><span>Mark as Recycled</span></button>
	{% elif request.user.category == "Refurbisher" %}
		<button id="myBtn" class="primary-button" style="margin-bottom: -1%;"><span>Mark as Refurbished</span></button>
		<button id="myBtn" class="primary-button"><span>Send to Recycler</span></button>
	{% endif %}
	

  	<!-- The Modal -->
  	<div id="myModal" class="modal">
	
      <!-- Modal content -->
      <div class="modal-content">
        <span class="close">&times;</span>
        <h1>Successfully marked as recycled</h1>
        <!-- <p>Do you want to send these laptops to the Recycler?</p>
        <div id="modal-button">
					<button id="modal-button-cancel">Cancel</button>
        	<button id="modal-button-confirm">Send to Recycler</button>
				</div> -->
      </div>
	
    </div>
    {% endblock %}